service: nuevo-archivo-utec

provider:
  name: aws
  runtime: python3.13
  region: us-east-1
  iam:
    role: arn:aws:iam::${aws:accountId}:role/LabRole

custom:
  bucketName: bucket-utec-${aws:accountId}
  notificationEmail: dfigueroaw@gmail.com

functions:
  LeerMetadataArchivo:
    handler: LeerMetadataArchivo.lambda_handler
    environment:
      TEMA_NUEVO_ARCHIVO_ARN: !Ref TemaNuevoArchivo

  CrearArchivoUTEC:
    handler: CrearArchivo_UTEC.lambda_handler

resources:
  Resources:
    MyBucket:
      Type: AWS::S3::Bucket
      DeletionPolicy: Retain
      Properties:
        BucketName: ${self:custom.bucketName}
        NotificationConfiguration:
          LambdaConfigurations:
            - Event: s3:ObjectCreated:*
              Function: !GetAtt LeerMetadataArchivoLambdaFunction.Arn

    AllowS3InvokeLambda:
      Type: AWS::Lambda::Permission
      Properties:
        FunctionName: !Ref LeerMetadataArchivoLambdaFunction
        Action: lambda:InvokeFunction
        Principal: s3.amazonaws.com
        SourceArn: !Sub arn:aws:s3:::${self:custom.bucketName}

    TemaNuevoArchivo:
      Type: AWS::SNS::Topic
      Properties:
        TopicName: TemaNuevoArchivo

    SuscripcionEmailUTEC:
      Type: AWS::SNS::Subscription
      Properties:
        TopicArn: !Ref TemaNuevoArchivo
        Protocol: email
        Endpoint: ${self:custom.notificationEmail}
        FilterPolicy:
          tenant_id:
            - UTEC

    TablaArchivosUTEC:
      Type: AWS::DynamoDB::Table
      DeletionPolicy: Retain
      Properties:
        TableName: t_archivos_UTEC
        BillingMode: PAY_PER_REQUEST
        AttributeDefinitions:
          - AttributeName: tenant_id
            AttributeType: S
          - AttributeName: archivo_id
            AttributeType: S
        KeySchema:
          - AttributeName: tenant_id
            KeyType: HASH
          - AttributeName: archivo_id
            KeyType: RANGE

    AllowSNSToInvokeCrearArchivoUTEC:
      Type: AWS::Lambda::Permission
      Properties:
        FunctionName: !Ref CrearArchivoUTECLambdaFunction
        Action: lambda:InvokeFunction
        Principal: sns.amazonaws.com
        SourceArn: !Ref TemaNuevoArchivo

    SuscripcionLambdaUTEC:
      Type: AWS::SNS::Subscription
      Properties:
        TopicArn: !Ref TemaNuevoArchivo
        Protocol: lambda
        Endpoint: !GetAtt CrearArchivoUTECLambdaFunction.Arn
        FilterPolicy:
          tenant_id:
            - UTEC
